<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="https://bitsten.finance"><img src='https://exchange.bitsten.com/assets/static/v30/images/logo_bitsten_terang.png' width='150px'></a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="https://bitsten.finance">D</a>
        </div>
        <ul class="sidebar-menu">

            <li class="menu-header">Begin</li>

            <li><a class="nav-link" href="farms"><i class="bi bi-calendar-check-fill side-icon"></i> <span>Farms</span></a></li>





            <li class="menu-header">Help</li>
            <li><a class="nav-link" href="help"><i class="bi bi-box-arrow-in-up-right side-icon"></i> <span>How to Use</span></a></li>
            <!--
          <li><a class="nav-link" href="https://github.com/kindcowfinance"><i class="bi bi-github side-icon"></i> <span>Github</span></a></li>
          <li><a class="nav-link" href="https://t.me/kindcow_finance"><i class="bi bi-telegram side-icon"></i><span>Telegram</span></a></li>
          <li><a class="nav-link" href="https://twitter.com/kindcow_finance"><i class="bi bi-twitter side-icon"></i> <span>Twitter</span></a></li>
          <li><a class="nav-link" target='_blank' href="https://github.com/TechRate/Smart-Contract-Audits/blob/main/Neatherd.pdf"><i class="bi bi-calendar-check side-icon"></i> <span>Audit</span></a></li>
       -->

    </aside>


    <div class="text-center pt-3 " style=' position: absolute;bottom:0px;height:100px;right:0;left:0'>
        <h6>
            <a target='_blank' href='https://bscscan.com/token/0x58d6f302aaf33dd30a7666e16909db3c5c74021b'> <img src="https://exchange.bitsten.com/assets/static/v30/images/logo/bst.png" width="30px"> $ <span class='price-bst'><%= data.bst -%></span></a>
        </h6>
    </div>
</div>



</head>

<body>


</body>